h1{
    font-size: 30px;
    margin-top:10px;
}
header{
    text-align: center;
}
section {
font-size: 20px;
background-color: black;
color: white;
padding: 6px;
margin: 100px;
/* width: 400px; */
border: violet solid 6px;
}
ol{
	list-style-type: decimal;
}
ul{

    list-style-type: square;
}


li{
    margin: 20px;
}